:root {
    --blue: #0e72e2;
    --blue-white: #74c9fc;
    --blue-light: #53affc;
    --blue-dark: #0051de;
    --blue-black: #003064;
    --white: #fff;
    --black: #000;
    --black-transparent: rgba(0, 0, 0, 0.6);
    --grey: #808080;
    --grey-light: #808080;
    --grey-dark: #BBBBBB;
    --green: green;
    --green-light: #63c60f;
    --green-dark: #003b00;
    --error: #ef1218;
}

body {
    position: relative;
}

.j2j-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.j2j-popup-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black-transparent);
    z-index: 1000;
}

.j2j-popup-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
}

.j2j-popup-message {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--grey-dark);
}

.j2j-popup-button {
    margin-left: 10px;
    padding: 6px 10px;
    color: var(--black);
    background-color: var(--white);
    border-radius: 3px;
    border: none;
    transition: background-color ease-in-out 0.6s;
}

.j2j-popup-button:hover {
    cursor: pointer;
    background-color: var(--grey-light);
}

.j2j-button, .j2j-day-report, .j2j-all-day-report {
    border-radius: 3px;
    transition: background-color ease-in-out 0.6s, border ease-in-out 0.6s;
}

.j2j-day-report{
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
    height: 100%;
    font-weight: 500;
    color: var(--white);
    background-color: var(--blue-light);
    border: solid 2px  var(--blue-white);
    border-bottom-color: var(--blue-black);
    border-right-color: var(--blue-black);
}

.j2j-day-report:hover{
    cursor: pointer;
    border-top-color: var(--blue);
    border-left-color: var(--blue);
    background-color: var(--blue-dark);
}

.j2j-all-day-report {
    font-weight: 500;
    color: var(--white);
    background-color: var(--blue);
    border: solid 2px  var(--blue-light);
    border-bottom-color: var(--blue-black);
    border-right-color: var(--blue-black);
}

.j2j-all-day-report:hover {
    cursor: pointer;
    border-top-color: var(--blue);
    border-left-color: var(--blue);
    background-color: var(--blue-dark);
}

.j2j-button {
    padding: 6px 10px;
    color: var(--white);
    background-color: var(--blue-light);
    border: solid 2px  var(--blue-white);
    border-bottom-color: var(--blue-black);
    border-right-color: var(--blue-black);
    margin-right: 10px;
    transition: background-color ease-in-out 0.6s, border ease-in-out 0.6s;
}

.j2j-button:hover {
    cursor: pointer;
    border-top-color: var(--blue);
    border-left-color: var(--blue);
    background-color: var(--blue-dark);
}

.j2j-button-done {
    background-color: var(--green);
    border: solid 2px  var(--green-dark);
    border-bottom-color: var(--green-light);
    border-right-color: var(--green-light);
}

.j2j-button-done:hover {
    cursor: text;
    background-color: var(--green);
}

.j2j-button-progress{
    background-color: var(--grey);
    border: solid 2px  var(--grey-dark);
}

.j2j-button-progress:hover {
    cursor: text;
    background-color: var(--grey);
    border: solid 2px  var(--grey-dark);
}
